00-tutorial/target/
00-tutorial/Cargo.lock

01-calculator/target/
01-calculator/Cargo.lock

02-meritscore/target/
02-meritscore/Cargo.lock

03-magic-eight-ball/target/
03-magic-eight-ball/Cargo.lock

04-factorial/target/
04-factorial/Cargo.lock

05-currency/target/
05-currency/Cargo.lock

06-topdown-triangle/target/
06-topdown-triangle/Cargo.lock